.elements {
  padding-top: 51px;
  color: black;
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  list-style: none;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.card__img {
  max-width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.card__description-title {
  margin: 0;
  max-height: 29px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description-button {
  background: url(../images/heart-icon.png);
  background-size: cover;
  width: 21px;
  height: 18px;
  color: black;
  border: none;
  margin-left: auto;
}

@media screen and (max-width: 1280px) {
  .cards {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }
}
