.header {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

.logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media (max-width: 431px) and (min-width: 321px) {
  .header {
    height: 56px;
    margin: 0 auto;
    padding-top: 28px;
    width: 100%;
  }
  .logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}

@media (max-width: 320px) {
  .header {
    height: 56px;
    margin: 0 auto;
    padding-top: 28px;
    width: 100%;
  }
  .logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
