.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin: 0;
}

.profile__content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.profile__img {
  max-width: 120px;
  max-height: 120px;
  padding-right: 30px;
}

.profile__info {
  justify-content: center;
  display: grid;
  grid-template-areas:
    "title edit"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  gap: 7px 18px;
  max-width: 415px;
  height: 77px;
}

.profile__name {
  grid-area: title;
  width: 373px;
  height: 48px;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

.profile__edit-buttom {
  margin: 0;
  width: 24px;
  height: 24px;
  background: url(../images/Edit\ Button.png);
  background-size: cover;
  align-items: center;
  grid-area: edit;
  border-radius: 1px;
  border-color: #fff;
}

.profile__descripton {
  margin: 0;
  width: 415px;
  height: 22px;
  font-weight: 400;
  line-height: 21.78px;
  font-size: 18px;
  grid-area: description;
}

.profile__add-buttom {
  background: url(../images/Add\ Button.png);
  margin: 0 165px;
  width: 150px;
  height: 50px;
  background-size: cover;

  border-radius: 2px;
  border-color: #fff;
}
