.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  min-height: 361px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  position: relative;
}

.card__img {
  max-width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.card__description-title {
  margin: 0;
  max-height: 29px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description-button {
  background: url(../images/heart-icon.svg);
  background-size: cover;
  min-width: 21px;
  height: 18px;
  color: black;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 0.6s ease-out;
}
.card__description-button_liked {
  background-image: url(../images/hear-icon-active.svg);
}
.card__description-button:hover {
  opacity: 0.6;
  animation: Pulse 1.4s ease-in-out 0s infinite;
}

.card__delete-button {
  background: url(../images/Trash.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity 0.6s ease-out;
  min-width: 18px;
  height: 19.3px;
  position: absolute;
  right: 16.25px;
  top: 23.79px;
}

.card__delete-button:hover {
  opacity: 0.6;
}
