.page {
  color: white;
  background-color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page__content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1280px) and (min-width: 431px) {
  .page__content {
    margin: 0 30px 0 30px;
  }
}

@media (max-width: 430px) and (min-width: 321px) {
  .page__content {
    margin: 0 10px 0 10px;
  }
  .page__section {
    width: 100%;
  }
}
